
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
  }
  :root{
    --red-color: rgba(219,19,58,255);
    --light-pink:rgba(255,249,249,255);
    --dark:rgba(121,119,119,255);
    --white-color: rgba(253,254,254,255);
    --input-color:rgba(219,219,219,255);
    --light-gray: rgba(222,212,211,255);
  }
  html{
    font-size: 68%;
  }

.card {
  position: relative;
  top: -40%;
  left: 40%;
  width: 90%;
 
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and(max-width:992px) {
  .card {
  margin-top: 50rem;
    width: 90%;
    transform: translate(-50%, -50%);
   
  }
}
@media screen and(max-width:767px) {
  .card {
    position: relative;
    top: -10;
    left: 50%;
    width: 90%;
  
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
.form-control{
  background-color: var(--input-color);
  height: 3.5rem;
  margin-bottom: 3rem;

}
/* .form-control-login{
  background-color: var(--white-color);
  height: 3.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--dark);
} */
.btn-nav{
  width: 8rem;
  height: 3rem;
  background-color: var(--light-pink);
  color: var(--red-color);
  border: 0;
  border-radius: 5px;
}




.navbar-toggler-icon{
  color: var(--white-color);
}
.btn-search{
  width: 100%;
  height: 3.5rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border: 0;
  border-radius: 5px;
}

.navbar-logo{
  width: 100px;
  height: auto;
} 
.header {
  padding: 0 4.8rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: var(--red-color);
}

.header .logo {
  height: 3rem;
 
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  margin-top: 1rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  transition: all 0.3s;
}
.btn-nav>.navbar-link:link,
.btn-nav>.navbar-link:visited{
  /* display: inline-block; */
  text-transform: uppercase;
  text-decoration: none;
 
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--red-color);
  transition: all 0.3s;
}
.navbar-link:hover,
.navbar-link:active {
  color: var(--light-pink);
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: var(--white-color);
  .card{
    display: none;
  }
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
  .card{
    display: none;
  }
}

@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
 
    /* border: 3px solid #212529; */
    color: var(--white-color);
  }

  .header {
    position: relative;
    justify-content: start;
  }

  .header .logo {
    width: 9rem;
    margin-top: 1rem;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    background: var(--red-color);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
    
  }
   ol,ul {
    padding-left: 0 !important;
   }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .btn-nav{
    width: 90vw;
    height: 3rem;
    background-color: var(--light-pink);
    color: var(--red-color);
    border: 0;
    border-radius: 5px;
  }
}


@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
}

.donor-card{
  display: flex;
 
  background-color: var(--light-gray);
  height: 6rem;
  border-radius: 8px;
  
}

.card-red{
  background-color: var(--red-color);
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  position: absolute;
  margin-bottom: 1rem;
}

.form-group{
  position: relative;
}

.form-control-login{
  border: #fff;
  border-bottom: 1px solid black;
  width: 100%;
}
.form-control-login:focus{
  border: #fff;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

input {
  padding-top: 10px;
  margin-top: 20px;
}

label{
  position: absolute;
  top: 25px;
  left: 0;
  pointer-events: none;
  transition: 0.3;
}

input:focus + label,
input:valid + label{
  font-size: 12px;
  top: 0;
 
}

.btn-login{
  width: 30%;
  height: 3.5rem;
  color: var(--white-color);
  background-color: var(--red-color);
  border: none;
  border-radius: 10px;
}

@media screen and(max-width:767px){
  .btn-login{
    width: 100%;
    height: 3.5rem;
    color: var(--white-color);
    background-color: var(--red-color);
    border: none;
    border-radius: 10px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards {
  width: 23%;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid var(--red-color);
  border-radius: 8px;
}
